<manifest package="moe.kurumi.moegallery"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name="moe.kurumi.moegallery.application.Application"
        android:label="@string/app_name">

        <meta-data
            android:name="moe.kurumi.moegallery.glide.GlideSetup"
            android:value="GlideModule"/>

        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/settings"/>

        <activity android:name=".activity.LicensesActivity"
                  android:label="@string/license"
                  android:theme="@style/Theme.AppCompat.DialogWhenLarge">
            <intent-filter>
                <action android:name="moe.kurumi.moegallery.action.VIEW_LICENSES"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
